<div class="row-fluid app">
    
  <div class="span8 rightContent">
      <div class="fxFilterContent">
          <label for="addFx"><input type="button" value="addFx" id="addFx"></label>
      </div>
      <div class="fxListContent"></div>
      <ul id="fxList">
          <li>testfx</li>
      </ul>
  </div>
  
  <div class="span4 leftContent">
      <div class="origImage">
          <label for="loadImage">LOADIMAGE
              <input type="file" id="loadImage" />
          </label>
          <canvas></canvas>
      </div>
      <div class="editImage">
          <label for="saveImage">SAVEIMAGE
              <input type="button" id="saveImage" />
          </label>
          <canvas></canvas>
          <ul>
              <li>applied fx's</li><!-- sort applied fx's dynamicly to the picture -->
         </ul>
      </div>
  </div>
  
</div>