<div class="canvasArea">
    <div class="span6 origImage">
        <canvas id="origImage" width="256" height="256"></canvas>
    </div>
    <div class="span6 editImage">
        <canvas id="editImage" width="256" height="256">Your browser is shit! Download a better one >><a href="https://www.google.com/intl/en/chrome/browser/"></a></canvas>
        <div id="loader" class="loading"></div>
    </div>
</div>
<div class="clearfix"></div>

